body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #444444;
}
header {
	height: 77px;
	background-color: #40C6B9;
	text-align: center;
	position: fixed;
	width: 100%;	
	top: 0px;
}
.content {
	margin-top: 80px;
}
h1 {
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

}
button:hover {
	margin: 0px auto;
	display: block;
	width: 500px;
	color: #fff000;
	border: none;
}
button {
	margin: 0px auto;
	display: block;
	width: 500px;
	color: #ffffff;
	border: none;
}
.hidden {
	display: none;
}
.tweet-block {
	padding: 2px 2px 2px 2px;
	background-repeat: no-repeat;
	height: 60px;
}
.tweet-block img {
	float: left;
	padding: 0;
	margin: 5px;
}
img:hover {
	border: 1px solid;
	border-color: #40C6B9;
}
.tweet-block div {
	vertical-align: top;
}

.date {
	font-size: 10px;
	color: #252a40;
}
.message  {
	font-size: 13px;
}
.user  {
	font-weight: bold;
}
.user:hover {
	color: #40C6B9;
}
.mainfeed, .userfeed {
	margin: 0px auto;
	background: #ffffff;
	width: 500px;
}